/* Contact styles */
.contact {
    margin-top: 0;
    padding-top: 10%;
    padding-bottom: 2%;
}

.contact-container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 0;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-light .contact-container {
    background-color: #ffffff;
    color: #333;
}

.theme-dark .contact-container {
    background-color: #1a1a1a;
    color: #ffffff;
}

.contact-info {
    margin-bottom: 30px;
    text-align: center;
}

.contact-info p,
.contact-info strong {
    margin: 15px 0;
    font-size: 18px;
    color: #333;
}

.contact-email,
.contact-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contact-email p,
.contact-linkedin a {
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
    color: #555;
}

.contact-icon,
.linkedin-icon {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease;
}

.contact-icon:hover,
.linkedin-icon:hover {
    color: #007bff;
}

.copied-message {
    margin-top: 15px;
    font-size: 16px;
    color: #28a745;
}

.linkedin-icon {
    margin-left: 5px;
    color: #0077b5; /* Couleur LinkedIn */
    transition: color 0.3s ease;
}

.linkedin-icon:hover {
    color: #005285; /* Couleur Hover LinkedIn */
}

.contact-email p:hover,
.contact-linkedin a:hover {
    text-decoration: underline;
}

.contact-space {
    height: 40px;
}

.contact-form .form-group {
    margin-bottom: 30px;
    margin-right: 20px;
}

.theme-light .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #555;
}

.theme-dark .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #ffffff;
}

.theme-dark .contact-info p,
.theme-dark .contact-info strong {
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #ffffff;
    border-color: #007bff;
    outline: none;
}

.contact-form button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.copy-icon {
    margin-left: 10px;
}

.copied-message {
    margin-top: 15px;
    font-size: 16px;
    color: #28a745;
}

.contact-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contact-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contact-linkedin a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-linkedin a:hover {
    color: #0056b3;
}
